<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Oakmaster</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet"   >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            font-family: 'Open Sans', sans-serif;
        }
        .hor-row{
            width: 100%;
            text-align: center;
            float: left;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-align: center;
        }
        .container-main{
            width: 100%;
            float: none;
            margin: auto;
            max-width: 1000px;
            padding: 50px 20px 60px;
        }
        .header-container{
            grid-template-columns: 280px auto;
            display: grid;
        }
        .logo-container img{
            width: calc(100% - 50px);
            float: left;
            margin: -10px 0 0 20px;
        }
        h2{
            text-align: right!important;
            font-size: 40px!important;
            padding-right: 10px!important;
            color: red;
    
        }
        .content-main{
            display: grid;
            grid-template-columns: auto 360px;
            grid-gap: 0px;
            margin: 60px 0 0;
        }
        .right-side-content{
            padding-left: 30px;
        }
        .image-container img{
            width: 100%;
            margin: 0px 0 0;
        }
        .value-container{
            font-size: 13px;
            text-align: left;
            margin: 3px 0;
            font-weight: 550;
        }
        .total-value-container{
            margin: 50px 0 0;
            text-align: right;
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
    
        }
        .total-label{
            margin-right: 5px;
            font-size: 14px;
            text-align: right;
            width: 80px;
            float: left;
            display: inline-block;
            width: calc(100% - 165px);
        }
        .total-value{
            width: 160px;
            display: inline-block;
            text-align: right;
            float: left;
        }
        .price-note-text{
            text-align: right;
            font-size: 13px;
        }
        .talk-to-us-content{
            text-align: left;
            padding-left: 30px;
            color: red;
            font-size: 14px;
            font-weight: 555;
            margin-top: 50px;
        }
    
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap" rel="stylesheet">
  </head>
  
<body class="hor-row">
    <div class="hor-row container-main">
        <div class="hor-row header-container">
            <div class="hor-row logo-container">
                <img src="{{ oakmasterLogo }}" alt = 'logo' />
            </div>
            <h2 class="hor-row">Quotaion Summary </h2>
        </div>
        
        <div class="hor-row">
            <div class="hor-row content-main">
                <div class="right-side-content">
                    <div class="hor-row value-container">
                        TRUSS TYPE: {{data["Truss Type"]}}
                    </div>
                    <div class="hor-row value-container">
                        ROOF PITCH ANGLE: {{data["Roof Pitch Angle"]}}
                    </div>
                    <div class="hor-row value-container">
                        TIE BEAM SPAN(MM): {{data["Tie Beam Span (mm)"]}}
                    </div>
                    <div class="hor-row value-container">
                        WALL DEPTH(MM. IN ADDITION TO SPAN): {{data["Wall Depth (mm, in addition to span)"]}}
                    </div>

                    {% if data["Braces"] %}
                        <div class="hor-row value-container">
                            BRACES: YES
                        </div>

                        <div class="hor-row value-container">
                            BRACE OFFSET: {{data["Brace Offset"]}}
                        </div>
                        <div class="hor-row value-container">
                            BRACE CURVE: {{data["Brace Curve"]}}
                        </div>
                    {% endif %}

                    {% if data["Collar"] %}
                        <div class="hor-row value-container">
                            COLLAR: YES
                        </div>
                    {% endif %}

                    <div class="hor-row value-container">
                        TIE BEAM HEIGHT(MM): {{data["Tie Beam Height (mm)"]}}
                    </div>
                    <div class="hor-row value-container">
                        TIE BEAM WIDTH(MM): {{data["Tie Beam Width (mm)"]}}
                    </div>

                    {% if data["King Post Depth (mm)"] %}
                        <div class="hor-row value-container">
                            KING POST DEPTH(MM): {{data["King Post Depth (mm)"]}}
                        </div>
                    {% endif %}
                    {% if data["King Post Width (mm)"] %}
                        <div class="hor-row value-container">
                            KING POST WIDTH(MM): {{data["King Post Width (mm)"]}}
                        </div>
                    {% endif %}

                    {% if data["Rafter Height (mm)"] %}
                        <div class="hor-row value-container">
                            RAFTER HEIGHT (MM): {{data["Rafter Height (mm)"]}}         
                        </div>
                    {% endif %}
                    {% if data["Rafter Width (mm)"] %}
                        <div class="hor-row value-container">
                            RAFTER WIDTH(MM): {{data["Rafter Width (mm)"]}}
                        </div>
                    {% endif %}
                    {% if data["Brace Height (mm)"] %}
                        <div class="hor-row value-container">
                            BRACE HEIGHT(MM): {{data["Brace Height (mm)"]}}
                        </div>
                    {% endif %}
                    {% if data["Brace Width (mm)"] %}
                        <div class="hor-row value-container">
                            BRACE WIDTH (MM): {{data["Brace Width (mm)"]}}
                        </div>
                    {% endif %}

                    {% if data["Collar"] %}
                        <div class="hor-row value-container">
                            COLLAR HEIGHT (MM): {{data["Collar Height (mm)"]}}
                        </div>
                        <div class="hor-row value-container">
                            COLLAR WIDTH (MM): {{data["Collar Width (mm)"]}}
                        </div>
                    {% endif %}

                    <div class="hor-row value-container">
                        TRUSS QUANTITY: {{data["Truss Quantity"]}}
                    </div>
                    <div class="hor-row value-container">
                        WOOD MASS: 2769 Kg
                    </div>
                    <div class="hor-row value-container">
                        WALL DEPTH(MM. IN ADDITION TO SPAN): 300
                    </div>

                </div>
                <div class="image-container">
                    <img src="{{ sampleImage }}"/>
                </div>
            </div>
            <div class="hor-row total-value-container">
                <div class="hor-row" style="text-align: right;">
                    <span class="total-label">NET:</span>
                    <span class="total-value">€{{ data.netPrice }}</span>
                </div>
                <div class="hor-row" style="text-align: right;">
                    <span class="total-label">VAT:</span>
                    <span class="total-value">€{{ data.vatPrice }}</span>
                </div>
                <div class="hor-row" style="text-align: right;">
                    <span class="total-label">GROSS:</span>
                    <span class="total-value">€{{ data.grossPrice }}</span>
                </div>
            </div>
            <div class="hor-row price-note-text">
                <i> (Prices do not includes shipping rates)</i>
            </div>
            <div class="hor-row talk-to-us-content">
                Please call or email if you would like to discuss before placing an order 
                <br/>
                Phone: 01 444 44 00 11
                <br/>
                Email: oak@oak-beams.com
            </div>

        </div>
    </div>


</body>
</html>
